* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: #5c5470;
    align-items: center;
    justify-content: center;
    display: grid;
}

.styled-title {
    font-family: 'Arial', sans-serif; /* Fonte do título */
    font-size: 36px; /* Tamanho da fonte */
    color: #333; /* Cor do texto */
    text-align: center; /* Alinhamento centralizado */
    align-content: center;
    justify-content: center;
    display: grid;
    text-transform: uppercase; /* Transformação do texto para maiúsculas */
    letter-spacing: 2px; /* Espaçamento entre as letras */
    margin-top: 50px; /* Margem superior */
    margin-bottom: 20px; /* Margem inferior */
    padding: 30px; /* Espaçamento interno */
    width: 550px;
    background-color: #f0f0f0; /* Cor de fundo */
    border: 2px solid #ccc; /* Borda */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}


.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(1, 1, 1, 0.5);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #dbd8e3;
    background: rgba(2, 2, 4, 0.9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span {
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo {
    font-size: 10px;
}

main {
    align-items: center;
    display: grid;
    justify-content: center;
    margin-bottom: 100px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a {
    color: #00d4ff;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}